<form id="frm_create_movement" name="movementCreateForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("Movements")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <select class="form-control" name="product" required ng-model="vm.movement.product">
                            <option value="">Selecione um produto</option>
                            <option ng-repeat="product in vm.products"
                                    value="{{product.id}}">
                                {{product.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="productquantity" type="number" name="quantity" ng-model="vm.movement.quantity" required maxlength="100" min="1" class="validate form-control">
                        <label for="productquantity" class="form-label">Quantidade a ser retirada</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="movementCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>